<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
</head>
<body>
    <h1> {{ post.title }} </h1>
    <p> {{ post.content }} </p>

    <h2>Comments</h2>
    <p>{{ post.comments.count }} Comments</p>

    <ul style="list-style-type: none; padding: 0;">
        {% for comment in comments %}
        <li>
            <strong style="color: rgb(19, 19, 168);">{{ comment.user.username }}</strong> {{ comment.content }}
            <small> {{ comment.created_at }} </small>
            {% if comment.user == user %}
                <a href="{% url 'edit_com' comment.id %}">Edit</a>
                <a href="{% url 'del_com' comment.id %}">Delete</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    <h3>Leave a Comment</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Post Comment</button>
    </form>
    <a href="{% url 'home' %}">Go back</a>
</body>
</html>